CPANEL_SSH_HOST=HOST_SSH_O2SWITCH
CPANEL_SSH_USER=USER_CPANEL
CPANEL_SSH_PORT=22
CPANEL_APP_PATH=/home/USER_CPANEL/apps/jardin-sonore-client
CPANEL_BUILD_ENV=docker
CPANEL_PUBLIC_SITE_URL=https://jardin-sonore.fr

# Optional if your deploy key is not the default SSH identity.
# CPANEL_SSH_KEY=~/.ssh/deploy-key
