parameters:
  app.mailing.home_latitude: '%env(default::MAILING_HOME_LATITUDE)%'
  app.mailing.home_longitude: '%env(default::MAILING_HOME_LONGITUDE)%'
  app.mailing.window_limit: '%env(int:MAILING_WINDOW_LIMIT)%'
  app.mailing.window_minutes: '%env(int:MAILING_WINDOW_MINUTES)%'
  app.mailing.dispatch_batch_size: '%env(int:MAILING_DISPATCH_BATCH_SIZE)%'
  app.mailing.from_email: '%env(DEFAULT_CONTACT)%'
  app.mailing.from_name: '%env(MAILING_FROM_NAME)%'
